/* src/Timeline.css */

.timeline-container {
    position: relative;
  }
  
  .timeline-item {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .timeline-item::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px; /* Adjust for marker size */
    width: 2px;
    background: #414141; /* Tailwind CSS gray-300 */
  }
  
  .timeline-item:nth-child(even) .timeline-content {
    margin-left: auto;
  }
  
  .timeline-item:nth-child(odd) .timeline-content {
    margin-right: auto;
  }
  
  .timeline-marker {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  @media (min-width: 1024px) {
    .timeline-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 8px;
    }
  
    .timeline-item::before {
      display: none;
    }
  
    .timeline-marker {
      display: none;
    }
  
    .timeline-item:nth-child(even) .timeline-content {
      margin-left: 0;
      margin-right: auto;
    }
  
    .timeline-item:nth-child(odd) .timeline-content {
      margin-right: 0;
      margin-left: auto;
    }
  }
  