 .about{
     background: transparent;
     margin-top: 0.5rem;
 }
 
 .heading {
     text-align: center;
     font-size: 1.5rem;
     font-weight: 600;
     padding: 5px 15px;
     margin: 0.4rem 0;
     margin-bottom: -7px;
 }
 .aboutUs {
     text-align: center;
     font-size: 1rem;
     font-weight: 500;
     padding: 5px 15px;
     color: rgb(170, 167, 167);
 }
 .about .row {
     display: flex;
     align-items: center;
     gap: 0.5rem;
     flex-wrap: wrap;
     padding: .3rem 0;
     /* margin-left: 1.5rem; */
 }
 
 .about .row .video-container {
     flex: 1 1 15rem;
     height: 26rem;
     border-radius: 2rem;
     box-shadow: 0 0 10px #9da4b0;
     display: flex;
     align-items: center;
     justify-content: center;
     overflow: hidden;
     margin: 1px 30px;
     /* animation: glowing 2s infinite; */
 }
 @keyframes glowing{
     0% {
         box-shadow: 0 0 10px #9da4b0; /* Start with a small glow */
       }
       50% {
         box-shadow: 0 0 20px #9da4b0; /* Increase the glow midway through the animation */
       }
       100% {
         box-shadow: 0 0 10px #9da4b0; /* Return to the original glow at the end */
       }
 }
 .video_row{
     border-radius: 2rem;
     width: 18rem;
     height: 22rem;
     display: flex;
     align-items: center;
     justify-content: center;
     background: linear-gradient(135deg, #9da4b0, #000000);
     overflow: hidden;
     margin: 2px 20px;
     animation: glowing 2s infinite;
 }
 
 .image{
    min-width: 10rem;
    max-width: 20rem;
    border-radius: 14rem;
 }

 @media (min-width:832px){
 .video_row{
     width: 43rem;
     }   
 }
 @media (min-width:767px){
     .video_row{
         width: 43rem;
         }   
     }
 @media (max-width:520px){
     .content>h3{
         display: none;
     }
 }
 
 
 .about .row .video-container h3 {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     font-size: 2rem;
     width: 100%;
     padding: 5px 0px;
     text-align: center;
     margin: 20px 0 40px;
 }
 
 .about .row>.content {
     flex: 1 1 40rem;
     padding: 5px 15px;
 }
 .content>h3{
     background: linear-gradient(135deg, #9da4b0, #000000);
     width: 170px;
     text-align: center;
     font-size: 19px;
     font-weight: 500;
     letter-spacing: 0.3px;
     border-radius: 3px;
     color: rgb(243, 243, 243);
 }
 .onai2{
     color: rgb(129, 129, 129);
 }
 
 .about .row .content p {
     font-size: 0.8rem;
     color: rgb(134, 130, 134);
     padding: 5px 10px;
     padding-top: 0.7rem;
     line-height: 1.5;
 }
 .btn {
     display: inline-flex;
     align-items: center;
     justify-content: center;
     border-radius: 8px;
     border: 1px solid #9da4b0;
     color: #9da4b0;
     padding: .7rem 1.3rem;
     cursor: pointer;
     font-size: 19px;
     font-weight: 600;
     letter-spacing: 1px;
     box-shadow: 0 0 10px #9da4b0;
     margin: 10px;
     transition: 0.5s;
 }